.youtubeContainer {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 aspect ratio (height divided by width) */
    height: 0;
    overflow: hidden;
    max-width: 100%;
    width: 100%;
  }
  
  .youtubeContainer iframe {
    width: 100%;
  }

  @media only screen and (max-width: 600px) and (min-width: 300px)  {
    .youtubeContainer iframe {
       height: auto;
    }
}